{% extends 'base.html' %}

{% load static %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li class="active">
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <div class="row">
      <div class="col-lg-2">
      </div>

      <div class="col-lg-8">
        <h3>NeuroTimes是什么</h3>
        <p>我平时经常在一些小组或微信群里分享一些神经科学相关的链接，大家表示很喜欢。于是决定把平时看的一些资料记录并分享出来做成一个小网站，这也是我学习<a href="https://www.djangoproject.com/">Django</a>的一个练手项目。</p>

        <h3>NeuroTimes主要有什么内容</h3>
        <p>目前打算周一到周六，每天更新推荐五条信息，忙的时候会暂停。主要会包括神经科学的最新动态、论文、博客文章、新产品、资源/数据库等等，也会包含一些有趣的科普和娱乐内容。</p>
        <p>虽然神经科学的科普受众很广泛，但NeuroTimes不打算做成科普向的网站。同时也不是纯介绍论文的专业向网站，而是以专业的研究动态、研究资源为主。</p>
        <p>因此推荐内容主要是英文，只有少量的中文。神经科学领域内，无论是专业内容还是科普内容，中文信息的质量都比较低，数量也少，因此建议即使是只对科普感兴趣的读者，也要适量读一点英文原始内容，长期下来，对理解有很大的帮助。</p>

        <h3>做NeuroTimes的目的是什么</h3>
        <p>主要是记录我的阅读内容，其次是信息的分享与交流。</p>
<!--         <p>很多次向同学朋友介绍NeuroTimes的时候，总会被问这是不是一个创业项目。现在创业氛围太浓厚了，我只想说，NeuroTimes只是一个信息分享平台，不是创业项目。</p> -->

        <h3>会不会有英文版</h3>
        <p>由于是我一人维护且时间有限，暂时无法支持两个语言版本。将来也许会有。</p>
<!--         <p>很多次向同学朋友介绍NeuroTimes的时候，总会被问这是不是一个创业项目。现在创业氛围太浓厚了，我只想说，NeuroTimes只是一个信息分享平台，不是创业项目。</p> -->

        <h3>历史纪录</h3>
        <ul>
          <li>2015/10/13：网页版首期上线。</li>
          <li>2015/10/11：开通微信公众号NeuroTimes。</li>
          <li>2015/10/09：开通微博账号<a href="http://weibo.com/u/5722723325">神经日报NeuroTimes</a>。</li>
          <li>2015/09/27：网站试运行。</li>
          <li>2015/09/26：网站部署在DigitalOcean服务器上。</li>
          <li>2015/09/15：注册域名<a href="http://neurotim.es"> neurotim.es</a>; 用Django搭建网站框架。</li>
        </ul>

      </div>

      <div class="col-lg-2">
      </div>
    </div><!--row-->
{% endblock %}
