{% extends 'base.html' %}

{% load static %}

{% block title_block %}
关于这里 | NeuroTimes
{% endblock %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li>
            <a href="/fragment">
              <i class="fa fa-puzzle-piece"></i> 记忆碎片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li class="active">
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <div class="row">
      <div class="col-lg-2">
      </div>

      <div class="col-lg-8">
        <h3>NeuroTimes是什么</h3>
        <p>一个分享有用、有趣神经科学信息的小网站。我平时经常在一些小组或微信群里分享一些神经科学相关的链接，大家表示很喜欢。于是决定把平时看的一些资料记录并分享出来做成一个小网站，这也是我学习<a href="https://www.djangoproject.com/">Django</a>的一个练手项目。</p>

        <h3>NeuroTimes有什么含义</h3>
        <p>不管神经科学能不能成为如计算机、核能那般改变整个世界的领域，但作为研究人员之一，能明显感觉到其快速的发展，并隐隐预感到它带来的巨大变革。在我个人看来，神经科学的时代已经来临了。</p>

        <h3>NeuroTimes主要有什么内容</h3>
        <p>周一到周六，每天更新推荐五条信息，忙的时候（以及更新网站的时候、实验或者写论文太多的时候、需要上的课太多的时候、偷懒的时候、旅游的时候等等……）会暂停。主要包括神经科学的最新动态、论文、博客文章、新产品、资源/数据库等等，也会包含一些有趣的科普、艺术、历史、娱乐内容。</p>
        <p>虽然神经科学的科普受众很广泛，但NeuroTimes不打算做成科普向的网站。同时也不是纯介绍论文的专业向网站，而是以专业的研究动态、研究资源为主。</p>
        <p>因此推荐内容主要是英文，只有少量的中文。神经科学领域内，无论是专业内容还是科普内容，中文信息的质量都比较低，数量也少，因此建议即使是只对科普感兴趣的读者，也可以适量读一点英文原始内容，长期下来，对理解有很大的帮助。</p>

        <h3>原文链接几乎都是英文的内容，为什么不翻译一下呢？哪怕翻译一两篇也会吸引更多的人看</h3>
        <p>翻译耗费的时间精力太多，抱歉没办法在这个业余时间更新的小网站上投入更多的时间了，只能在简介里把大致的内容用中文介绍一下，希望不擅长英语的人看起原文来会更轻松一点。我觉得在这个信息爆炸的年代，也没有必要每篇原文都去看，一天看一篇感兴趣的英文，会渐渐对英文阅读感到轻松起来、</p>

        <h3>做NeuroTimes的目的是什么</h3>
        <p>主要是记录我的阅读内容，其次是信息的分享与交流。</p>
<!--         <p>很多次向同学朋友介绍NeuroTimes的时候，总会被问这是不是一个创业项目。现在创业氛围太浓厚了，我只想说，NeuroTimes只是一个信息分享平台，不是创业项目。</p> -->

        <h3>会不会有英文版</h3>
        <p>由于是我一人维护且时间有限，暂时无法支持两个语言版本。将来也许会有。</p>

        <h3>为啥还没开放微信公众号</h3>
        <p>微信公众号不方便加链接，不方便用来分享文章。另外还是那个原因，时间有限…………</p>

        <h3>对网站有意见或建议，如何与我联系</h3>
        <p>网页最下方有邮箱和微博，可以给我发邮件或私信，或者直接在网站的留言板上留言。</p>


        <h3>历史纪录</h3>
        <ul>
          <li>2015/02/05：增加新版块：碎片信息。</li>
          <li>2015/10/13：网页版首期上线。</li>
          <li>2015/10/11：开通微信公众号NeuroTimes。</li>
          <li>2015/10/09：开通微博账号<a href="http://weibo.com/u/5722723325">神经日报NeuroTimes</a>。</li>
          <li>2015/09/27：网站试运行。</li>
          <li>2015/09/26：网站部署在DigitalOcean服务器上。</li>
          <li>2015/09/15：注册域名<a href="http://neurotim.es"> neurotim.es</a>; 用Django搭建网站框架。</li>
        </ul>

      </div>

      <div class="col-lg-2">
      </div>
    </div><!--row-->
{% endblock %}
