{% extends 'base.html' %}

{% load static %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/card">
              <i class="fa fa-dashboard"></i> 卡片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 按日期浏览
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <script type="text/javascript">
      var $container = jQuery('#masonry-grid');
      $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 200
      });
      // layout Masonry after each image loads
      $grid.imagesLoaded().progress( function() {
        $grid.masonry('layout');
      });
    </script>

    <!--main-->
      <div class="container">
        <div class="row grid">
        {% for page in pages %}
          <div class="col-md-4 col-sm-6 grid-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4><a href="/page/{{ page.category.date_id }}/{{ page.id }}/">{{ page.title }}</a></h4>
                </div><!--/panel-heading-->
                <div class="panel-body">
                  {% if page.photo %}
                    <div class="panel-photo">
                      <a href="/page/{{ page.category.date_id }}/{{ page.id }}/"><img class="img-responsive center-block" src={{ page.photo.url }} alt=""></a>
                    </div><!--/panel-photo-->
                  {% endif %}
                  <div class="panel-text">
                    <p>
                        {% autoescape off %}
                           {{page.text|truncatechars:100}}
                        {% endautoescape %}
                        <a href="/page/{{ page.category.date_id }}/{{ page.id }}/">read more</a>
                    </p>
                  </div><!--/panel-text-->
                  <div class="panel-date text-right">
                    <p>
                    {{ page.category.date_id }}
                    </p>
                  </div><!--/panel-date-->
            </div><!--/panel-body-->
          </div><!--/panel-default-->
          </div><!--/grid-item-->

        {% endfor %}
        </div><!--/grid-->
      </div><!--/container-->

{% endblock %}
