{% extends 'base.html' %}

{% load static %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/card">
              <i class="fa fa-dashboard"></i> 卡片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 按日期浏览
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <!--main-->
      <div class="container">
        <div class="row grid js-masonry"   data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": 200 }'>
        {% for page in pages %}
          <div class="col-md-4 col-sm-6 grid-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4><a href="/page/{{ page.category.date_id }}/{{ page.order }}/">{{ page.title }}</a></h4>
                </div><!--/panel-heading-->
                <div class="panel-body">
                  {% if page.photo %}
                    <div class="panel-photo">
                      <a href="/page/{{ page.category.date_id }}/{{ page.order }}/"><img class="img-responsive" src={{ page.photo.url }} alt=""></a>
                    </div><!--/panel-photo-->
                  {% endif %}
                  <div class="panel-text">
                    <p>
                        {% autoescape off %}
                           {{page.text|truncatechars:100}}
                        {% endautoescape %}
                        <a href="/page/{{ page.category.date_id }}/{{ page.order }}/">read more</a>
                    </p>
                  </div><!--/panel-text-->
                  <div class="panel-date text-right">
                    <p>
                    {{ page.category.date_id }}
                    </p>
                  </div><!--/panel-date-->
                  <hr>
                  <div class="panel-social">
                    <form>
                    <div class="input-group">
                    <div class="input-group-btn">
                    <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                    </div>
                    <input type="text" class="form-control" placeholder="Add a comment..">
                    </div>
                    </form>
                  </div><!--/panel-social-->
            </div><!--/panel-body-->
          </div><!--/panel-default-->
          </div><!--/grid-item-->

        {% endfor %}
        </div><!--/grid-->
      </div><!--/container-->

{% endblock %}
