{% extends 'base.html' %}

{% load static %}

{% block body_block %}
    <!--main-->
    <div class="container" id="main">


        <div class="row grid js-masonry"   data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": 200 }'>
        {% for page in pages %}

          <div class="col-md-4 col-sm-6 grid-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>{{ page.title }}</h4>
                </div>
                <div class="panel-body">
                  <p>
                      {% autoescape off %}
                         {{page.text|truncatechars:100}}
                      {% endautoescape %}
                      <a href="/neuro/page/{{ page.category.date_id }}/{{ page.order }}/">read more</a>
                  </p>
                </div>
            </div>
          </div>

        {% endfor %}
        </div>

<!--         <div id="masonry" class="grid">
          <div class="grid-item"><img src="http://lorempixel.com/200/100/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/200/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/500/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/200/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/200/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/100/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/300/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/200/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/150/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/200/abstract"></div>
          <div class="grid-item"><img src="http://lorempixel.com/200/300/abstract"></div>
        </div> -->

<!--       <div class="col-md-4 col-sm-6">

        <div class="panel panel-default">
           <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Stackoverflow</h4></div>
          <div class="panel-body">
            <img src="//placehold.it/150x150" class="img-circle pull-right"> <a href="#">Keyword: Bootstrap</a>
            <div class="clearfix"></div>
            <hr>

            <p>If you're looking for help with Bootstrap code, the <code>twitter-bootstrap</code> tag at <a href="http://stackoverflow.com/questions/tagged/twitter-bootstrap">Stackoverflow</a> is a good place to find answers.</p>

            <hr>
            <form>
            <div class="input-group">
            <div class="input-group-btn">
            <button class="btn btn-default">+1</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Add a comment..">
            </div>
            </form>

          </div>
         </div> -->

      </div><!--/container-->


      <hr>
      <div class="col-md-12 text-center"><p><a href="http://www.bootply.com/download/90113" target="_ext">Download Google Plus Style Template</a><br><a href="http://bootply.com/templates" target="_ext">More Bootstrap Templates by @Bootply</a></p></div>
      <hr>




        <!-- JavaScript jQuery code from Bootply.com editor -->
{% endblock %}
