{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block title_block %}
{{ category_date }} | NeuroTimes
{% endblock %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li>
            <a href="/fragment">
              <i class="fa fa-puzzle-piece"></i> 记忆碎片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <div class="row">
      <div class="col-lg-2">
      </div>

      <div class="col-lg-8">
        <div class="page-header">
          <h2>{{ category_date }} 内容汇总</h2>
        </div>
        {% for page in pages %}
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h4><a href="/page/{{ page.category.date_id }}/{{ page.id }}/">{{ page.title }}</a></h4>
                      {% if page.url %}
                      <a href="{{ page.url }}" class="btn btn-info" role="button"><i class="fa fa-link"></i></span>原文链接</a>
                      {% endif %}
                </div><!--/panel-heading-->
                <div class="panel-body">
                  {% if page.photo %}
                    <div class="panel-photo">
                    <a href={{ page.photo.url }} title={{ page.title }} data-gallery>
                      <img src={{ page.photo.url }} class="img-thumbnail img-responsive center-block img-page">
                    </a>
                    </div><!--/panel-photo-->
                  {% endif %}
                  <hr>
                  <div class="panel-text">
                    {% autoescape off %}
                       {{page.text}}
                    {% endautoescape %}
                  </div><!--/panel-text-->
                </div><!--/panel-body-->

                <div class="panel-footer">
                  {% for tag in page.tags.all %}
                  <a href="/tags/{{ tag.name }}"><span class="label label-primary">{{ tag.name }}</span ></a>
                  {% endfor %}
                </div>
            </div><!--/panel-default-->
        {% endfor %}

        {% for fragment in fragments %}
            <div class="panel panel-default">

                <div class="panel-body">
                  <div class="panel-text">
                    {% autoescape off %}
                       {{ fragment.text }}
                    {% endautoescape %}
                  </div><!--/panel-text-->
                  {% if fragment.images.all %}
                    <div class="panel-photo">
                      {% for fragment_image in fragment.images.all %}
                        <div class="col-lg-4 col-md-4">
                          <a href={{ fragment_image.image.url }} title={{ fragment.title }} data-gallery>
                          <img src={{ fragment_image.image|thumbnail_url:'daily' }} class="img-responsive center-block">
                          </a>
                        </div>
                      {% endfor %}
                    </div><!--/panel-photo-->
                  {% endif %}

                </div><!--/panel-body-->

                <div class="panel-footer">
                  <div class="col-lg-6 col-xs-6">
                   <p><i class="fa fa-calendar"></i></span> {{ fragment.date }} </p>
                  </div>
                  <div class="col-lg-6 col-xs-6">
                    <div class="pull-right">
                      {% for tag in fragment.tags.all %}
                      <span class="label label-primary">{{ tag.name }}</span >
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </div><!--/panel-default-->
        {% endfor %}

            <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>

      </div>

      <div class="col-lg-2">
      </div>
    </div><!--row-->
{% endblock %}
