{% extends 'base.html' %}

{% load static %}

{% block title_block %}
{{ category_date }} | NeuroTimes
{% endblock %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <div class="row">
      <div class="col-lg-2">
      </div>

      <div class="col-lg-8">
        <div class="page-header">
          <h2>{{ category_date }}</h2>
        </div>
        {% for page in pages %}
            <div class="panel panel-default">
                <div class="panel-heading form-inline">
                    <h4><a href="/page/{{ page.category.date_id }}/{{ page.id }}/">{{ page.title }}</a></h4>
                    {% if page.url %}
                        <a href="{{ page.url }}" class="btn btn-info" role="button"><i class="fa fa-link"></i></span>原文链接</a>
                    {% endif %}
                </div><!--/panel-heading-->
                <div class="panel-body">
                  {% if page.photo %}
                    <div class="panel-photo">
                      <a href=""><img class="img-responsive center-block" src={{ page.photo.url }} alt=""></a>
                    </div><!--/panel-photo-->
                  {% endif %}
                  <div class="panel-text">
                    {% autoescape off %}
                       {{page.text}}
                    {% endautoescape %}
                  </div><!--/panel-text-->
                </div><!--/panel-body-->

                <div class="panel-footer">
                  {% for tag in page.tags.all %}
                  <a href="/tags/{{ tag.name }}"><span class="label label-primary">{{ tag.name }}</span ></a>
                  {% endfor %}
                </div>
            </div><!--/panel-default-->


        {% endfor %}

      </div>

      <div class="col-lg-2">
      </div>
    </div><!--row-->
{% endblock %}
