{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block title_block %}
记忆碎片 | NeuroTimes
{% endblock %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li class="active">
            <a href="/fragment">
              <i class="fa fa-puzzle-piece"></i> 记忆碎片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-2">
      </div>

      <div class="col-lg-6 col-md-6 col-sm-8">
        <div class="page-header">
          <h3>新鲜、有趣、脑洞、艺术，关于脑科学的一切</h3>
        </div>
        {% for fragment in fragments %}
            <div class="panel panel-default">

                <div class="panel-body">
                  <div class="panel-text">
                    {% autoescape off %}
                       {{ fragment.text }}
                    {% endautoescape %}
                  </div><!--/panel-text-->
                  {% if fragment.images.all %}
                    <div class="row panel-photo">
                      {% for fragment_image in fragment.images.all %}
                        <div class="col-md-4 col-sm-6">
                          <a href={{ fragment_image.image.url }} title={{ fragment.title }} data-gallery>
                          <img src={{ fragment_image.image|thumbnail_url:'card' }} class="img-responsive center-block">
                          </a>
                        </div>
                      {% endfor %}
                    </div><!--/panel-photo-->
                  {% endif %}

                </div><!--/panel-body-->

                <div class="panel-footer">
                  <div class="col-lg-6 col-xs-6">
                   <p><i class="fa fa-calendar"></i></span> {{ fragment.date }} </p>
                  </div>
                  <div class="col-lg-6 col-xs-6">
                    <div class="pull-right">
                      {% for tag in fragment.tags.all %}
                      <span class="label label-primary">{{ tag.name }}</span >
                      {% endfor %}
                    </div>
                  </div>
                </div>
            </div><!--/panel-default-->

            <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}

      </div>

      <div class="col-lg-3 col-md-3 col-sm-2">
      </div>
    </div><!--row-->
{% endblock %}
