<!DOCTYPE html>
<html lang="en">

     <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
           <h3>Categories</h3>
            {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item"><a href="">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6 placeholder">
          <h3>Top5 pages</h3>
            {% if page_list %}
                <ul class="list-group">
                    {% for page in page_list %}
                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages present.</strong>
            {% endif %}
        </div>
