{% extends 'base.html' %}

{% load static %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 卡片
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 按日期浏览
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-2">
            </div>

            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h3>{{ page.title }}</h3>

                <hr>
                <!-- Date/Time -->
                <div class="row">
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-time"></span> {{ category.date }}</p>
                    </div>
                    <div class="btn-toolbar pull-right">
                        {% if page.url %}
<!--                         <div class="col-md-6 text-right"> -->
                        <a href="{{ page.url }}" class="btn btn-info" role="button">原文链接</a>
                        {% endif %}
                        {% if page.pdf %}
                        <a href="{{ page.pdf }}" class="btn btn-warning" role="button">PDF版(免翻墙)</a>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <!-- Preview Image -->
                {% if page.photo %}
                <img class="img-responsive center-block" src={{ page.photo.url }} alt="">
                {% endif %}
                <hr>

                <!-- Post Content -->
                <p class="lead">
                {% autoescape off %}
                   {{page.text}}
                {% endautoescape %}
                </p>
                <hr>
                <div>
                    <p>分享到</p>
                    <!-- sharethis tools -->
                    <span class='st_sina_large' displayText='Sina'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                </div>


            </div>

            <div class="col-lg-2">
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
