{% extends 'base.html' %}

{% load static %}

{% block title_block %}
{{ page.title }} | NeuroTimes
{% endblock %}

{% block nav_block %}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/card">
              <i class="fa fa-dashboard"></i> 神经信息
            </a>
          </li>
          <li>
            <a href="/date">
              <i class="fa fa-building-o"></i> 往期回顾
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="fa fa-font"></i> 关于这里
            </a>
          </li>
          <li>
            <a href="/message">
              <i class="fa fa-comment-o"></i> 留言板
            </a>
          </li>
        </ul>
      </div>
{% endblock %}

{% block body_block %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-2">
            </div>

            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h3>{{ page.title }}</h3>

                <hr>
                <!-- Date/Time -->
                <div class="row">
                    <div class="col-md-6 child">
                        <p><span class="glyphicon glyphicon-time"></span> {{ category.date }}</p>
                    </div>
                    <div class="btn-toolbar align-right child">
                        {% if page.url %}
                        <a href="{{ page.url }}" class="btn btn-info" role="button">原文链接</a>
                        {% endif %}
                        {% if page.pdf %}
                        <a href="{{ page.pdf }}" class="btn btn-warning" role="button">PDF版(免翻墙/登录)</a>
                        {% endif %}
                    </div>
                </div>
                <hr>

                <!-- Preview Image -->
                {% if page.photo %}
                <img class="img-responsive center-block" src={{ page.photo.url }} alt="">
                    {% if page.photo_legend %}
                    <p class="text-center">Credits: {{ page.photo_legend }}</p>
                    {% endif %}
                {% endif %}
                <hr>

                <!-- Post Content -->
                <p class="lead">
                {% autoescape off %}
                   {{page.text}}
                {% endautoescape %}
                </p>
                <br />

                <div class="row">
                    <div class="col-lg-12 label-toolbar">
                        {% for tag in page.tags.all %}
                        <a href="/tags/{{ tag.name }}"><span class="label label-primary">{{ tag.name }}</span ></a>
                        {% endfor %}
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    {% if page_pre %}
                        <a href="/page/{{ page_pre.category.date_id }}/{{ page_pre.id }}/" class="btn btn-default" role="button"><i class="fa fa-chevron-left"> {{ page_pre.title }}</i></a>
                    {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                    {% if page_next %}
                        <a href="/page/{{ page_next.category.date_id }}/{{ page_next.id }}/" class="btn btn-default pull-right" role="button">{{ page_next.title }} <i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                    </div>
                </div>
                <br />

                <div>
                    <p>分享到</p>
                    <!-- sharethis tools -->
                    <span class='st_sina_large' displayText='Sina'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                </div>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'neurotimes';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

            </div>

            <div class="col-lg-2">
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}
