{% load static %}
{% load analytical %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"> <!-- Infinite-scroll in mobile -->
    <title>{% block title_block %}NeuroTimes: 脑科学时代的科技与人文{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootcards-desktop.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/page.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link href="{% static 'css/bootstrap-image-gallery.min.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="/media/img/favicon.ico" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    {% analytical_head_top %}

  </head>

  <body>
  {% analytical_body_top %}
  <!-- fixed top navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" title="Bootcards Starter" href="/">NeuroTimes</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <button type="button" class="btn btn-default btn-back pull-left hidden" onclick="history.back()">
        <i class="fa fa-lg fa-chevron-left"></i>
        <span>Back</span>
      </button>
      <!-- menu button to show/ hide the off canvas menu -->
      <button type="button" class="btn btn-default btn-menu pull-left" data-toggle="offcanvas">
        <i class="fa fa-lg fa-bars"></i><span>Menu</span>
      </button>



      <!--right aligned button-->
<!--       <button type="button" class="btn btn-warning navbar-right hidden-sm">
        <i class="fa fa-lg fa-refresh"></i><span>Refresh</span>
      </button> -->

      <!--navbar menu options: shown on desktop only -->
      {% block nav_block %}{% endblock %}
    </div>
  </div>


    <div class="container">
      {% block body_block %}{% endblock %}
    </div>

    <hr>

    <!-- Footer -->
    <div class="mastfoot">
      <div class="inner text-center">
        <p><a href="http://neurotim.es">© 2014-2015 NeuroTimes</a></p>
        <div class="info-icons">
          <a title="关注NeuroTimes微博" target="_blank" href="http://weibo.com/u/5722723325"><i class="fa fa-weibo fa-2x"></i></a>
          <a title="关注NeuroTimes微信公众号" id="popover" rel="popover" data-content=""><i class="fa fa-weixin fa-2x"></i></a>
          <a title="关注NeuroTimes Facebook页面" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
          <a title="关注NeuroTimes Twitter" target="_blank" href="https://twitter.com/NeuroTimes"><i class="fa fa-twitter fa-2x"></i></a>
          <a title="关注NeuroTimes Pinterest" target="_blank"><i class="fa fa-pinterest-p fa-2x"></i></a>
          <a title="订阅NeuroTimes RSS" target="_blank" href="http://www.neurotim.es/feed/"><i class="fa fa-rss fa-2x"></i></a>
          <a title="发邮件给NeuroTimes" href="mailto:neurotimes@outlook.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
          <p><a href="#">Back to top</a></p>
        </div>
      </div>
    </div>

    <!-- Bootstrap & jQuery core JavaScript
    ================================================== -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootcards JS -->
    <script src="{% static 'js/bootcards.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/neuro.js' %}"></script>

    <!-- Bootstrap Image Gallery -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>

    <!-- Infinite Scroll -->
    <script src="{% static 'js/jquery.infinitescroll.min.js' %}"></script>

    <!-- sharethis tools -->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "f9c9bba6-ceda-44f5-82c9-f3673b358c48", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <!--recommended: FTLabs FastClick library-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'neurotimes';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69146342-1', 'auto');
    ga('send', 'pageview');
    </script>

    {% analytical_body_bottom %}
</body>
</html>
